.userlist {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.firstinfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 3px;
  background: lightgrey;
  padding: 1rem 0 1rem 0;
}

.content {
  position: relative;
  margin: auto;
  margin-bottom: 1rem;
}

.card {
  width: 300px;
  height: 300px;
  padding: 5px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: transform .2s;
  box-sizing: border-box;
}

.card:hover {
    border-bottom: 10px solid #4979ff;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.firstinfo img {
  border-radius: 50%;
}
.firstinfo .profileinfo {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
}


.error{
  color: #D8000C;
  background-color: #FFBABA;
  padding: 2rem;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}
